[*.cs]

# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity=none

# CA1014: Mark assemblies with CLSCompliant	
dotnet_diagnostic.CA1014.severity=none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity=none

vsspell_ignored_words_7c96fdaf1b6247398b8f206b0700cba2 = Queryable



